/*============ Utility CSS =========== */
.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

body {
    margin: 0px;
    padding: 0px;
    font: 100% Helvetica, sans-serif;
    height: 100%;
    /* font-family: Montserrat; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #525267;
}
#container{
   position: relative;
}

/*============ Navbar CSS =========== */
/* .nav_cover{
   position: relative;
   top: 0px;
   left: 0px;
   height:50px;
} */
/* nav {
    height: 50px;
   
    color: white;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    
    top: 0px;
    left: 0px;
    z-index: 1;
} */
#header{
    z-index: 2;
}
main {
    display: grid;
    grid-template-columns: 2fr 8fr;

}
#header_cover{
   position: relative;
   top: 0px;
   left: 0px;
  

}
#headerDet {
   display: flex;
   padding: 0px 20px;
   align-items: center;
   border-bottom: 1px solid grey;
   background-color: rgba(255, 255, 255, 0.971);
   /* width: 100%; */
   /* position: fixed; */
  /* left: 0px; */
  /* z-index: 1; */
   /* background-color: yellow; */
}

#headerDet p {
   font-size: 20px;
   font-weight: bold;
   margin-right: 10px;
}

hr{
   border: 0.5px solid #dddddd;
}
#headerDet{

    display: flex;
    padding: 0px 20px;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    background-color: rgba(255, 255, 255, 0.971);
    
    
    /* width: 100%; */
    /* position: fixed; */
   /* left: 0px; */
   /* z-index: 1; */
    /* background-color: yellow; */
}


#headerDet p {
    font-size: 14px;
    font-weight: 700;
    color: #3e3e52;
    /* margin-right: 10px; */

/* #headerDet p {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px; */

}
.left_section #p{
   font-size: 15px;
   font-weight: 700; 
   color: #525267;   
}
.left_section #p1{
  font-size: 12px;
  font-weight: 600; 
  color: #525267;   
}
.filter_div #p2{
   font-size: 12px;
   font-weight: 600;
   color: #3e3e52;
}
#modify_btn {
   height: 28px;
   width: 98px;
   border: 1px solid #3e3e52;
   color: #3e3e52;
   border-radius: 5px;
}

/*============ Filter Section CSS =========== */

.left_section {
    padding: 18px;
    height: 900px;
    /* position: fixed; */
    left: 0px;
}
.left_section #p{
   font-size: 12px;
   font-weight: 700;
   color: #3e3e52;
}
.filter_div {
    display: flex;
    flex-direction: column;
    /* padding: 15px; */
}

.filter_div h6 {
    margin-bottom: 13px;
}

.filter_div>label {
    font-size: small;
    opacity: 0.6;
}

.filter_div label input {
    cursor: pointer;
}

.points_div input {
    border: 0px;
}

.points_div label i {
    opacity: 0.3;
}

.points_div label {
    display: flex;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px 10px;
    border-radius: 2px;
}
.points_div #p3{
   font-size: 12px;
   font-weight: 600;
   color: #3e3e52;
}
.amenties {
    list-style: none;
    margin-left: -38px;
}

.amenties>li {
    border: 1px solid black;
    margin-top: 5px;
    opacity: 0.6;
    border-radius: 9px;
    padding: 1px 9px;
}

#heading_line {
    margin: -15px 0px;
}

/*============ Bus Details Section CSS =========== */
.right_section {
    padding: 0px 5px;
}

#header_images {
    margin-top: 20px;
    padding: 0px;
}

#header_images img {
    width: 183px;
    height: 120px;
    margin-left: 20px;
    margin-right: 15px;
    cursor: pointer;
}

#heading_line #p4 {
    font-size: 14px;
    font-weight: 700;
    color: #616175;
    margin-top: 30px;
    margin-bottom: 30px;
}

#no_of_buses{
    font-size: small;
}
.right_section .heading_hr {
    margin-top: -9px;
}
#details_sorting_heading #p-span{
   width: 200px;
}
#details_sorting_heading {
  
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1.4fr 1.7fr 1.2fr 1.5fr 1.5fr 1.3fr 1fr;
}
#details_sorting_heading .p{
   font-size: 14px;
   color: #3e3e52;
   font-weight: bold;

}
#details_sorting_heading #span{
font-size: 14px;
font-weight: 400;
color: #3e3e52;
}
#details_sorting_heading p:hover{
    cursor: pointer;
    font-size:15px;
}

/*========== Bus details box ========== */
#loadingHeading{
  text-align: center;
  background-color: #d84e55;
  color: white;
  margin-top: 15%;
  padding: 10px 0px;
  border-radius: 8px;
}
.bus_card {
    padding-right: 10px;
 border: 1px solid rgb(216, 208, 208);
    border-radius: 8px;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 10px;
}

.bus_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.operator_logo {
    width: 85px;
    margin-bottom: -20px;
}

i {
    margin: 0px 5px;
    opacity: 0.6;
}

.bus_info table tr td {
    padding: 7px 30px;
}

tr td:nth-child(1) {
    width: 250px;
    /* background-color: yellow; */
}

.members {
    font-size: 15px;
    /* background-color: yellow; */
}

.font {
    font-size: 14px;
}

.rating {
    background-color: #38b87c;
    color: #ffffff;
   font-weight: 400;
    padding: 4px 0px;
    padding-left: -8px;
    border-radius: 3px;
    text-align: center;
}

.rating i,
p {
    font-size: 14px;
    font-weight: bold;
}

.price_nd_seat_div {
    margin-top: 20px;
    margin-right: 15px;
    display: flex;
    /* flex-direction: column; */
    gap: 80px;
    justify-content: center;
}

.price_nd_seat_div p {

    font-size: 16px;
}
#Bus_price{
    font-size: 18px;
    margin-left: 10px;
}
.see_setails_sml_screen{
   display: none;
}
.extra_features_row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 7fr;
    gap: 40px;
    align-items: center;
    width: 100%;
}

.facility_icons {
    display: flex;
    list-style: none;
    padding: 0px;
}

.facility_icons li {
    margin-left: 15px;
}

#see_seat_btn_div{
   position: relative;
}
.view_seat_btn{
    background-color: #d84355;
    color: white;
    width: 112px;
    height: 29px;
    border: none;
    font-size: 15px;
    padding: 4px 0px;
    position: absolute;
    
    right: 0;
    margin-right: 9px;
    margin-bottom: -22px;
    cursor: pointer;
}

.view_seat_btn:hover {
    background-color: #d84355;
}

/*===Initial message POP-UP style === */
#pop_up_div {
    background-color: rgb(25, 23, 23);
}


/* /=========== select Seats Pop_up ===============/ */
#bg-modal {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   position: absolute;
   top: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
}

.pop-up_box {
   width: 55%;
   position: absolute;
   background-color: white;
   display: flex;
   flex-direction: column;
   border-radius: 15px;
   padding: 9px;
}

.cross {
   font-size: 40px;
   transform: rotate(45deg);
   position: absolute;
   top: 3px;
   right: 5px;
   margin-top: -10px;
   font-weight: bold;
   cursor: pointer;
}
#pop_line{
   /* color: white; */
   /* background-color: rgb(172, 77, 77); */
   border-radius: 3px;
   margin-top: 10px;
   margin-left: 7px;
   margin-right: 10px;
   padding-right: -20px;
   width: 70%;
}
#seats_contents{
   display: grid;
   grid-template-columns: 7fr 5fr;
   gap: 30px;
   padding: 0px;
   margin: 0px;
   width: 100%;
   height: 70%;
}
#seats_contents_left{
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0px 10px;
}
#seats_contents_left{
   /* background-color: yellow; */
   padding: 0px 9px;
}
#seats_contents_left img{
   width: 70%;
   height: 60%;
   }

#upper_deck_box{
  padding: 12px 7px;
  width: 100%; 
  /* background-color: bisque; */
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  border-radius: 7px;
}
#lower_deck_box{
   padding: 12px 7px;
   width: 100%; 
   /* background-color:  bisque; */
   background-color: #ffffff;
   display: grid;
   grid-template-columns: repeat(10,1fr);
   border-radius: 7px;
}
.seat{
   border: 1px solid black;
   display: inline;
   padding: 2px 7px;
   margin: 3px;
   background-color: white;
   cursor: pointer;
   font-size: 11px;
   font-weight: bold;

}
/* .seat:hover{
} */
#seats_contents_right{
   padding: 20px;
   background-color: #ffffff;
   border-radius: 10px;
   /* display: none; */
}
#seats_contents_right h6{
   background-color: #d84355;
   color: wheat;
   padding: 2px 5px;
   border-radius: 5px;
}
#seat_legends{
 display: grid;
 /* background-color: yellow; */
 grid-template-columns: 1fr 1fr;
 gap: 20px;
 
}
#seat_legends p span{
   display: inline;
   padding: 0px 16px;
   margin-right: 6px;

}
#avl_seat{
   border: 1px solid rgb(195, 191, 191);
   background-color: white;
}
#unavl_seat{
   border: 1px solid rgb(195, 191, 191);
   background-color: #d84355;
}
#fem_seat{
   background-color: white;
   border: 2px solid #d84355;
}
#male_seat{
   border: 1px solid rgb(195, 191, 191);
   background-color: white;
}
.btn{
   background-color: #d84355;
   color: #ffffff;
   border: 0px;
   border-radius: 9px;
   padding: 5px 15px;
   margin: auto;
   cursor: pointer;
}
.btn:hover{
   background-color: #d84355;
}


/* <!--========= After selected the seat ======== --> */

#seats_contents_right-2{
 border: 1px solid rgb(195, 191, 191);
 display: flex;
 justify-content: center;
 flex-direction: column;
 margin-top: 15px;
 border-radius: 9px;
 display: none;
}
#confirm_points{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.points_heading{
   border: 1px solid #d84355;
   border-radius: 5px;
   width: 100%;
   text-align: center;
   cursor: pointer;
}
#boardPoint_div p{
font-size: 16px;
font-weight: 400;
}
#dropPoint_div p{
   font-size: 16px;
font-weight: 400;
}
.points_heading:hover{
   background-color: #d84355;
   color: white;
}

.boarding-points >div,.dropping-points>div{
   margin-top: 7px;
   display: flex;
   flex-direction: row;
}
.boarding-points >div>p,.dropping-points>div>p{
   margin: 7px 7px;
}

/* <!--========= After contnue of points ======== --> */

#confirm_booiking_box{
   display: none;
   flex-direction: column;
   border: 2px solid #d84355;
   border-radius: 12px;
   padding: 5px 9px;
}
/* #drop_time{
   font-size: 5px;
} */