@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

body {
  /*background: #eee;*/
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#headerBlock {
  display:block;
  height: 60px;
  width: 100vw;
  background: #d84f57;
  transform: none;
  transition: all 1.5s linear 0s;
  outline: rgb(193, 159, 151) dashed 0px;
  box-sizing: border-box;
  /* border: 1px solid; */
  z-index: 1;
}



#headerBlock .container {
  display: flex;
  align-items: center;
  height: 65px;
  width: 1300px;
  margin: 0 146px 0 146px;
  pad: 10px 0 10px 20px;
  max-width: 1300px;
  min-width: 1200px;
  font-size: 14px;
  /* border: 1px solid; */
}

#headerBlock .container .leftNav {
  flex: 1;
}

/*-----------left menu block -------------*/
.leftNav section {
  display: flex;
  position:relative;
  top: 1px;
}


.leftNav ul
 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}


.leftNav ul li a
{
  color: #fff;
  text-align: left;
  letter-spacing: 0.2px;
  line-height: 0px;
  margin: 0 5px 0 5px;
  text-decoration: none;
  padding: 3px 7px 3px 7px;
  font-size: 13px;
  display: inline;
  /* border: 1px solid; */
}

.logo {
  flex: 1;

}
.logo > a{
  /* border: 1px solid; */
  float: right;
}

.leftmenu {
  flex: 8;
  color: #fff;
  float: left;
  width: 238px; 
  padding: 10px 10px 10px 10px;
  display: block;
  /* border: 1px solid; */
  /* background-color: green; */
}
.leftmenu #ryd{
  margin-bottom: -15px;
}

.logo a {
  background-image: url(./images/logo.png);
  width: 80px;
  height: 48px;
  display: flex;
}

.leftNav ul li a.active {
  font-weight: 600;
  /* border-bottom: 3px solid #fff; */
  transition: ease-in-out 0.6s;
}

.leftNav ul li a:hover {
  color: #f9e7ea;
}





/* ---------------------rightNav---------------------------- */

 .rightNav {
  display: block;
  float: right;
  height: 39px;
  width: 400px;
  /* border: 1px solid; */
  margin-bottom: 10px;
  font-size: 12px;
  word-spacing: 0px;
 z-index: 1;
 /* background-color: yellow; */
}
.rightNav ul li a{
  /* color: #fff; */
  text-decoration: none;
  padding: 14px;
  font-size: 14px;
  display: inline-block;
  color: whitesmoke;
  /* border: 1px solid; */
} 
.rightNav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  float: right;

}
#dropup-menu-booking{
  display: flex;
  color: #fff;
}
.dropdown-menu-booking{
  display: none;
  border: 1px solid #3e4446;
  background-color: #ffffff;
  box-shadow: rgb(0, 0, 0) 0px 1px 5px 0px;

}
.dropdown-menu-booking .dropdown-item{
  color: #000000;
  font-size: 12px;
  font-weight: 650;
  cursor: pointer;
}
.dropdown-menu .dropdown-item{
  color: #000000;
  font-size: 12px;
  font-weight: 650;
  cursor: pointer;
}

.dropup-menu {
  display: flex;
 
}
.dropdown-menu .drop{
  color: black;
}

.dropdown-menu{
  display: none;
  border: 1px solid #3e4446;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: rgb(0, 0, 0) 0px 1px 5px 0px;

}


.dropdown-item{
  /* border: 1px solid; */
  /* background-color: #fff; */
  /* color: rgb(0, 0, 0); */
  /* background-color: #1f2122; */
  color: black;
}

.fa-user-circle {
  font-size: 35px;
  font-weight: lighter;
  line-height: 20px;
}

.fa-chevron-down {
  margin: 0px 0px 0 6px;
}

.after_user_circle {
  margin: -24px 21px 0 41px !important;
  display: block;

}

@media only screen and (max-width: 869px){
  .boxContainer{
      width: 100%;
      height: auto;
      
  }
  #headerBlock > .container {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .boxContainer .leftPanel, .right-panel{
   
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      color: #d0c7c7;
    
  }
  .leftmenu{
    display: none;
  }
  .rightNav{
    margin-left: -1200px;
  }
}
@media screen and (max-width : 869px) {
  .leftNav {
      display: none;
  }

  #headerBlock {
      justify-content: center;
      align-items: center;
  }

}


/*----------------------------------- Sigup page ---------------------------------*/
.windowSignUp{
  /* border: 1px solid;*/
  background-color: #454A4D;
  backface-visibility: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.10s;
}
.container-outer-SignUp{
  background-color:rgb(238, 230, 230);
  border: 5px solid #303335;
  border-radius: 5px;
}
.container-inner-Signup{
  display: flex;
}
.left-side{
  float: left;
}
.right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 1px solid #000000; */
}
.right-side > *{
  font-weight: 500;
  margin: 10px;
}
.red-signup{
  color: rgb(185, 59, 59);
}
.right-side > img{
  /* border: 1px solid #000000; */
  height: 70px;
  width: 110px;
}

.right-side > button{
  height: 35px;
}

.inputGet{
   height: 35px;
   width: 280px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 0.1px;
}
.buttton{
  width: 250px;
  border-radius: 24px;
  color: #FFFFFF;
  font-weight: bolder;
  background-color: rgb(155, 90, 90);
}
.button2{
  background-color: rgb(70, 143, 172);
  border: none;
  border-radius: 3px ;
}
.close{
  border: 1px solid #0000;
  cursor: pointer;
  display: flex;
  justify-content: right;
}
/* ------OTP Window-------- */
.windowOTP{
  background-color: #454A4D;
  backface-visibility: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.10s;
}
.container-outer-OTP{
  background-color:rgb(238, 230, 230);
  border: 5px solid #303335;
  border-radius: 5px;
}
.container-inner-OTP{
}
.right-side-two{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.right-side-two > img{
  height: 70px;
  width: 110px;
}
.right-side-two > *{
  padding: 10px;
  margin: 5px;
  font-weight: 500;
}
.buttton-varify{
  width: 250px;
  border-radius: 24px;
  color: #FFFFFF;
  font-weight: bolder;
  background-color: rgb(155, 90, 90);
}
.input-OTP{
  height: 35px;
  width: 280px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 0.1px;
}
.button-google{
  background-color: rgb(70, 143, 172);
  border: none;
  border-radius: 3px ;
}
#invalidOTP{
  display: flex;
  color: rgb(167, 48, 48);
}